/*
 * created: 2017/3/21
 * name: Issac
 */
@charset "utf-8";

.nav-swiper-title{position:relative;height:1.7066rem;width:100%;max-width:16rem;color:#CCCCCC;background-color:#FFFFFF;border-bottom:1px solid #CCCCCC;overflow:hidden;margin-bottom:0.4267rem;}
.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.nav-swiper-title .swiper-slide{width:auto;height:1.7066rem;line-height:1.7066rem;font-size:0.64rem;text-align:center;margin:0 0.5333rem;-webkit-flex:1;box-sizing:border-box;}
.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;}
.nav-swiper-title .current{border-bottom:0.1067rem solid #01A8EB;color:#333333;}
.news-list{padding-left:0.512rem;background-color:#FFFFFF;}
.news-detail-item{display:block;position:relative;height:3.904rem;width:100%;border-bottom:1px solid #ebebeb;overflow:hidden;}
.news-detail-item .content{position:absolute;height:182px;width:9.8133rem;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;}
.news-detail-item .content .news-title{font-family:"microsoft yahei";color:rgb(51,51,51);margin-top:0.64rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:0.512rem;}
.news-detail-item .content .news-time{font-family:"microsoft yahei";font-size:0.4693rem;color:rgb(153,153,153);padding:0.64rem 0;}
.news-detail-item .img{width:4.2667rem;height:2.7733rem;border:1px solid #ececec;margin:0.5547rem 0.64rem;position:absolute;right:0;}
.dahuishipin-list{}
.bonus-ad{padding:0 0.4693rem;overflow:hidden;}
.bonus-ad>li{width:7.36rem;height:6.8266rem;margin-bottom:0.3626rem;overflow:hidden;float:left;background-color:#FFFFFF;}
.bonus-ad>li:nth-child(even){margin-left:0.32rem;}
.videotitle{height:2.7733rem;width:100%;overflow:hidden;border:1px solid #CCCCCC;border-width:1px 0 1px 0;background-color:#ffffff;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;}
.videotitle .wrapper{-webkit-box-flex:1;-moz-box-flex:1;-ms-flex:1;flex:1;text-align:center;}
.wangluozhibo,.zhutifayan{display:inline-block;margin:0 1.0667rem;font-size:0.64rem;color:#CCCCCC;line-height:2.7733rem;}
.videotitle .wrapper a:active{color:#CCCCCC;}
.videotitle .wrapper .current{color:#509be4;}
.videotitle .wrapper .current:active{color:#509be4;}
.videotitle .wrapper span{position:relative;padding-left:2.1333rem;}
.videotitle .wangluozhibo span:before,.videotitle .zhutifayan span:before,.videotitle .current span:before{display:block;position:absolute;content:'';width:1.536rem;height:1.088rem;background-repeat:no-repeat;background-size:cover;top:50%;margin-top:-0.5547rem;left:0;}
.icon-playvideo{display:block;background-image:url(../img/icon/play-video.png);background-repeat:no-repeat;background-size:cover;width:1.728rem;height:1.7493rem;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.videotitle .wangluozhibo span:before{background-image:url(../img/icon/webcast_no.png);}
.videotitle .zhutifayan span:before{background-image:url(../../img/icon/speech_no.png);}
.videotitle .wangluozhibo.current span:before{background-image:url(../img/icon/webcast_no.png);}
.videotitle .zhutifayan.current span:before{background-image:url(../img/icon/speech_select.png);}
.vertical-line i{display:inline-block;width:1px;height:2.1333rem;background-image:url(../img/vertical-line.jpg);background-repeat:no-repeat;background-size:contain;}
.bonus-ad .shipin-content{padding:0.4267rem;padding-bottom:0;}
.bonus-ad .shipin-content .title{font-size:0.4693rem;color:#2E6699;margin-bottom:0.2133rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.bonus-ad .shipin-content .time{font-size:0.384rem;color:#959595;}
.bonus-ad .shipin-img{width:100%;position:relative;display:block;}
.newsCenter-nav{width:100%;max-width:750px;height:1.7066rem;border-bottom:1px solid #CCCCCC;margin-bottom:0.4267rem;}
.newsCenter-nav li{width:25%;background-color:#FFFFFF;text-align:center;float:left;height:inherit;}
.newsCenter-nav li a{display:block;font-size:0.64rem;color:#CCCCCC;box-sizing:border-box;height:inherit;line-height:1.7066rem;}
.newsCenter-nav li a.current{border-bottom:0.12rem solid #01A8EB;color:#333333;margin:0 0.5333rem;}
.clearfix{zoom:1;}

/*---大会通知------*/
.content{font-size:0.5973rem;color:#333333;padding:0;margin:0;border:0;background:none;}
.tongzhi-list{background-color:#ffffff;border-bottom:1px solid #CCCCCC;padding-left:0.512rem;}
.tongzhi-list .tongzhi-list-item{display:flex;height:3.84rem;border-bottom:1px solid #ECECEC;}
.tongzhi-list-item .image{line-height:3.84rem;display:inline-block;}
.tongzhi-list-item .image img{width:2.7306rem;height:2.7306rem;border:1px solid #CCCCCC;}
.tongzhi-list-item .info{padding-left:0.4267rem;padding-top:0.5547rem;display:inline-block;flex:1;}
.tongzhi-list-item .info .title{font-size:0.5973rem;color:#333333;height:1.6rem;display:inline-flex;align-items:center;}
.tongzhi-list-item .info .title span{-webkit-box-flex:1;flex:1;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.tongzhi-list-item .info .content{display:flex;border:0;}
.tongzhi-list-item .info .content span{font-size:0.4693rem;color:#999;width:10.4533rem;display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.tongzhi-list-item .info .content .more{font-size:0.4693rem;color:#547eb0;}
.tongzhi-list-item .info .time{color:#CCCCCC;font-size:0.4267rem;}